:root {
  --fcolor: #1f59b9;
  --scolor: #182557;
  --hcolor: #3d3799;
  --thcolor: #e1702f;
  --blcolor: #e48b2a;
  --bllcolor: #2d6acd;
}
.ddde{
  height: 60px;
  background-color: #182557;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoe{
  width: 100px;
}
.titless h1{
  font-size: 24px;
  color: var(--fcolor);
  direction: rtl;
  z-index: 100;
  font-family: 'Readex Pro', sans-serif;       font-weight: 600;    
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; /*ينزل الكروت بالرسبومسف*/
  }
  .borditem {
    display: block;
    background-color: var(--scolor) ;
    padding: 10px;
    border-radius: 10px;
  }
  @media (min-width: 111px ) and (max-width: 400px) {
    .borditem {
      display: block;
      background-color: var(--scolor) ;
      padding: 4px;
      border-radius: 10px;width: 95%;
    }
  }
  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding-top: 10px;
  }
  .projcardo {
    background-color: var(--fcolor);
    border: 1px solid var(--scolor);
    min-height: 14em;
    width: 20em;
    overflow: hidden; /**/
    border-radius: 10px;
    margin: 20px;
    /* transition: all 0.7s ease; */
   top: 0;
  position: relative;  transition: all 0.3s ease-out;
    display: flex;
    flex-direction: row-reverse;
  }
  .sssso{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
  
  }
    
  
  .projimgg {
    width: 100%; /* Adjust the width and height as per your requirement */
    height: auto;
    margin: 0px;
    background-size: cover; /*غلمود تتعدل*/
    background-position: center; /*غلمود تتعدل*/
    overflow: hidden; /* Hide any overflow of the image */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projimgg img{
    height: 100%;
    width: 100%;
  }
  .projinfo {
    padding: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap: 6px;
  }
  .projtitle {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
  }
  .titlecard {
    color: #fff;
  }
  .prices {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .prices p {
    font-size: 16px;
  }
  .iopp {
    font-size: 1.2em !important;
    color: var(--blcolor);
  }
  

  .prfo {
    background-color: var(--hcolor) !important;

  }
  .noitem {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .noitem h1 {
    color: wheat;
    font-size: 20px;
  }
  
  @media (min-width: 111px ) and (max-width: 370px) {
    section{ 
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
    }
    .projcard{
      width: 16rem;
    }
    
    .radio-button{
      font-size: 14px !important;
    }
    .titlecard{
      font-size: 14px;
    }
    hr{
      border-top: 1px solid var(--blcolor) !important;
      width: 80px  !important;
      padding: 4px;
    }
    
    .fot a{
      background-color: var(--blcolor);
      padding: 2px;margin: 10px !important;
      border-radius: 10px;
      color: var(--scolor) !important;
      display: grid;
      place-items: center;
      transition:   0.7 ease-in-out;
    
    }
    .fot a:hover{
      transform: translateY(-10);
      background-color: var(--fcolor);
      color: var(--thcolor) !important;
      transform: translateY(-4px);
    
    }
    .fott{
      display: flex;
      justify-content: center;
    gap: 3px;
    font-size: 14px;
    }
    .modal-content{
      width: 290px;
    height: 490px; gap: 0;  }
    .input33{
      width: 70%;
      height: 40px;
      padding: 0 !important;
    }
    
     
    .downselec{
      width: 70%;
    
    }
    .inputsr{
      width: 50px !important;
      height: 40px;
    
    
    }  .inputs{
        width: 100%;
      }
    .sels{
    width: 70%;
    }
    .erwq{
    margin-bottom: 4px;
    margin-top: 10px;
    gap: 14px !important;
    }
    .projcardo{
      width: 18rem;
      min-height: 12em;
    }
    .borditem{
      padding: 1px;
      border-radius: 10px;
      width: 300px;
      display: flex;
    }
    }
    /* outmedit */
    
    @media ( min-width: 370px) and (max-width: 570px) {
      section{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
      }
      .projcard{
        width: 19rem;
      }
      .radio-button{
        font-size: 14px !important;
      }
      .titlecard{
        font-size: 14px;
      }
      hr{
        border-top: 1px solid var(--blcolor) !important;
        width: 80px  !important;
        padding: 4px;
      }
      
      .fot a{
        background-color: var(--blcolor);
        padding: 2px;margin: 10px !important;
        border-radius: 10px;
        color: var(--scolor) !important;
        display: grid;
        place-items: center;
        transition:   0.7 ease-in-out;
      
      }
      .fot a:hover{
        transform: translateY(-10);
        background-color: var(--fcolor);
        color: var(--thcolor) !important;
        transform: translateY(-4px);
      
      }
      .fott{
        display: flex;
        justify-content: center;
      gap: 3px;
      font-size: 16px;
      }
      .modal-content{
        width: 320px;
      height: 490px; gap: 0;  }
      .input33{
        width: 70%;
        height: 40px;
        padding: 0 !important;
        outline: none !important;
      }
    
       
      .downselec{
        width: 70%;
    
      }
      .inputsr{
        width: 50px !important;
        height: 40px;
    
      }
     .sels{
      width: 70%;
     }
     .erwq{
      margin-bottom: 4px;
      margin-top: 10px;
      gap: 14px !important;
     }
     .projcardo{
      width: 18rem;
      min-height: 12em;
    }
    .borditem{
      padding: 1px;
      border-radius: 10px;
      width: 300px;
      display: flex;
    }
      }
    
    
    /* Styles for devices with a width between 321px and 767px */
    @media (min-width: 570px) and (max-width: 779px) {
      .section{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
      }
      
      .borditem{
        padding: 1px;
        border-radius: 10px;
        width: 260px;
        display: flex;
        background-color: #e1702f;
      }
      .projcardo{
        width: 16rem;
        min-height: 10em;
      }
      .projinfo{
        padding: 3px;
      }
      .titlecard{
        font-size: 14px !important;
      }
      .radio-button{
        font-size: 14px !important;
      }
      .titlecard{
        font-size: 14px;
      }
      nav{
        margin-right: 60px !important;
      }
      nav a{
        margin-right: 20px !important;
        font-size: 18px;
      }
      .logo {
        font-size: 22px !important;
        margin-left: 27px;
      }
      .modal-content{
        width: 360px;   }
      .input33{
        width: 80%;
        height: 40px;
      }
     
      .downselec{
        width: 80%;
      }
      .inputsr{
        width: 60px !important;
      }
     .sels{
      width: 80%;
     }
    
    
      
      }
    
    /* Styles for devices with a width between 768px and 1023px */
    @media (min-width: 770px) and (max-width: 992px) {
      section{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
      }
      .projcard{
        width: 19rem;
      }
      .radio-button{
        font-size: 14px !important;
      }
      .titlecard{
        font-size: 14px;
      }
      nav{
        margin-right: 80px !important;
      }
      nav a{
        margin-right: 30px !important;
        font-size: 20px;
      }
      .logo {
        font-size: 28px !important;
        margin-left: 100px;
      }
    
    }
    @media (min-width: 992px) and (max-width: 1095px)  {
      section{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        
      }
      .projcard{
        width: 22rem;
      }
      .radio-button{
        font-size: 14px !important;
      }
      .titlecard{
        font-size: 14px;
      }
      nav{
        margin-right: 110px !important;
      }
      nav a{
        margin-right: 50px !important;
        font-size: 20px;
      }
     
    }
    /* Styles for devices with a width of 1024px or larger */
    @media (min-width: 1095px) and (max-width: 1600px)  {
      section{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
      }
      .projcard{
        width: 22rem;
      }
      .radio-button{
        font-size: 14px !important;
      }
      .titlecard{
        font-size: 14px;
      }
    }