
.active-modal {
    overflow-y: hidden;
    z-index: 10;

}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
    z-index: 10;

}
.modalt, .overlayt {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 220;
    
}
.modal-contentt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: var(--scolor);
    border-radius: 3px;
    width: 100% !important;
    height: 100vh;
    z-index: 230 ;
    overflow: hidden;
}
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 220;
    
}

.overlay {
    background: rgba(49, 49, 49, 0.503);   

}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: var(--scolor);
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px !important;
    z-index: 230 ;
    overflow: hidden;
}
.downShap{
    position: absolute;
    bottom: 0;
    left: 40%;
    z-index: -1;
}
.upShap{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 50%;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
.form{
    direction: rtl;
}
.containetinput{
    font-size: 18px;
}
.discontinput{
    direction: rtl;
}
.inp {
    width: 400px !important;
  }
  .check{
    background-color: var(--thcolor) !important;
  }

  .check:hover{
    background-color: var(--blcolor) !important;
  }
  .checkprice{
    background-color: var(--scolor);
  }

  /* Styles for devices with a width between 321px and 767px */
@media (min-width: 111px ) and (max-width: 370px) {
    .continerinput{
        width: 100%;
        margin-right: 50px;
        font-size: 14px;

    }
    .containetinput{
        font-size: 14px;
    }
    .inp {
        height: 40px;
        max-width: calc(100% - 40px);
        font-size: 14px;

    }
    .check{
        left: 50px;
        bottom: 4px;
        font-size: 12px;
    }
    .checkprice{
        left: 100px; 
        bottom: 4px;
        font-size: 10px;
    }
   
    }
    /* outmedit */
    
    @media ( min-width: 370px) and (max-width: 570px) {
      
      
        .continerinput{
            width: 100%;
            margin-right: 20px;
            font-size: 16px;
        }
        .inp {
      
            max-width: calc(100% - 6px);
        }
    
      }
    
    
    /* Styles for devices with a width between 321px and 767px */
    @media (min-width: 570px) and (max-width: 770px) {
    
        .continerinput{
            width: 100%;
            margin-right: 0px;
        }
        .inp {
      
            max-width: calc(100% - 1px);
        }
    
      }
    
    /* Styles for devices with a width between 768px and 1023px */
    @media (min-width: 770px) and (max-width: 992px) {

    }
    @media (min-width: 992px) and (max-width: 1095px)  {

    }
    /* Styles for devices with a width of 1024px or larger */
    @media (min-width: 1095px) and (max-width: 1600px)  {

    }
   
  
  
  